.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 15px;
}

.link {
  display: inline-block;
  margin-bottom: 24px;
  color: inherit;
  font: inherir;
}

.bottom {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 16px;
}