.wrapper {
  display: grid;
  grid-template: auto / 200px 1fr 120px;
  column-gap: 16px;
}

.input {
  font: inherit;
  color: var(--text-color);
  background-color: var(--light-black-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 0 10px;
}

.item {
  display: flex;
  align-items: center;
}